body {
    margin: 0;
}

#main {
    /* background-color: #f5f5f4; */
    background-color: beige;
    width: auto;
    height: auto;
    position: relative;
}

/* adding padding for content after header */
@media (min-width: 0px) and (max-width: 640px){
    #main{
        padding: 5rem 0 0;
    }
}

@media (min-width: 640px) and (max-width: 1024px) {
    #main{
        padding: 5.5rem 0 0;
    }
}

@media (min-width: 1024px) {
    #main {
        padding: 7rem 0 0;
    }
}